.Accordion-bg {
    background-color: #719603 !important;
    color:white !important;
}
.Accordion-space{
    padding-top: 35px;
    padding-bottom: 45px;
    padding-right: 45px;
    padding-left: 45px;
}